{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_contact_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_contact_list'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label_name'|trans, 'contact.name') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_surname'|trans, 'contact.surname') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_email'|trans, 'contact.email') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_phone_num'|trans, 'contact.phonenum') }}</th>
                <th>{{ 'label_actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for contact in pagination.items %}
                <tr>
                    <td>{{ contact.name }}</td>
                    <td>{{ contact.surname }}</td>
                    <td>{{ contact.email }}</td>
                    <td>{{ contact.phonenum }}</td>
                    <td>
                        <a href="{{ url('contact_delete', {id: contact.id}) }}" title="{{ 'action_delete'|trans }}">
                            {{ 'action_delete'|trans }}
                        </a>
                        <a href="{{ url('contact_edit', {id: contact.id}) }}" title="{{ 'action_edit'|trans }}">
                            {{ 'action_edit'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% else %}
        {% include 'default/_single_flash_message.html.twig' with {
            type: 'warning',
            message: 'message.empty_list'|trans
        } %}
    {% endif %}
    <p>
        <a href="{{ url('contact_create')}}" title="{{ 'action_create_contact'|trans }}">
            {{ 'action_create_contact'|trans }}
        </a><br>
        <a href="{{ url('event_index') }}" title="{{ 'action_back_to_event_list'|trans }}">
            {{ 'action_back_to_event_list'|trans }}
        </a>
    </p>
{% endblock %}