{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_contact_details'|trans({'%id%': contact.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_contact_details'|trans({'%id%': contact.id|default('')}) }}</h1><br>
    {% if contact is defined and contact|length %}
        <table class="table">
            <tbody>
            <tr>
                <th>{{ 'label_name'|trans }}</th>
                <td>{{  contact.name }}</td>
            </tr>
            <tr>
                <th>{{ 'label_surname'|trans }}</th>
                <td>{{ contact.surname }}</td>
            </tr>
            <tr>
                <th>{{ 'label_email'|trans }}</th>
                <td>{{  contact.email }}</td>
            </tr>
            <tr>
                <th>{{ 'label_phone_num'|trans }}</th>
                <td>{{ contact.phonenum }}</td>
            </tr>
            </tbody>
        </table>
        <p>
            <a class="btn btn-primary" href="{{ url('contact_index') }}" title="{{ 'action_back_to_list'|trans }}">
                {{ 'action_back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message_item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}