{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_category_details'|trans({'%id%': event.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_category_details'|trans({'%id%': category.id|default('')}) }}</h1><br>
    {% if category is defined and category|length %}
        <table class="table">
            <tbody>
            <tr>
                <th>{{ 'label_title'|trans }}</th>
                <td>{{  category.title }}</td>
            </tr>
            <tr>
                <th>{{ 'label_created_at'|trans }}</th>
                <td>{{ category.createdAt|format_date('long') }}</td>
            </tr>
            </tbody>
        </table>
        <p>
            <a class="btn btn-primary" href="{{ url('category_index') }}" title="{{ 'action_back_to_list'|trans }}">
                {{ 'action_back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message_item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}