{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_event_details'|trans({'%id%': event.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_event_details'|trans({'%id%': event.id|default('')}) }}</h1>
    {% if event is defined and event|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label_title'|trans }}</dt>
            <dd>{{  event.title }}</dd>
            <dt>{{ 'label_datetime'|trans }}</dt>
            <dd>{{ event.datetime|format_date('long') }}</dd>
            <dt>{{ 'label_category'|trans }}</dt>
            <dd>{{  event.category.title }}</dd>
            <dt>{{ 'label_note'|trans }}</dt>
            <dd>{{  event.note }}</dd>
            <dt>{{ 'label_created_at'|trans }}</dt>
            <dd>{{ event.createdAt|format_date('long') }}</dd>
        </dl>
        <p>
            <a href="{{ url('event_index') }}" title="{{ 'action_back_to_list'|trans }}">
                {{ 'action_back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message_item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}