{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_userData_list'|trans }}
{% endblock %}

{% block body %}
    <br>
    <nav class="nav nav-pills nav-justified h5">
        <a class="nav-link" href="{{ url('event_index') }}" title="{{ 'action_back_to_event_list'|trans }}">
            {{ 'action_back_to_event_list'|trans }}
        </a>
        <a class="nav-link" href="{{ url('category_index') }}" title="{{ 'action_go_to_category_list'|trans }}">
            {{ 'action_go_to_category_list'|trans }}
        </a>
        <a class="nav-link" href="{{ url('contact_index') }}" title="{{ 'action_go_to_contact_list'|trans }}">
            {{ 'action_go_to_contact_list'|trans }}
        </a>
        <a class="nav-link active" href="{{ url('userData_index') }}" title="{{ 'action_go_to_userData_list'|trans }}">
            {{ 'action_go_to_userData_list'|trans }}
        </a>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <div class="navbar-nav ml-auto">
                <a class="btn btn-outline-primary"  href="{{ url('app_logout') }}" role="button">{{ 'action_logout'|trans }}</a>
            </div>
        {% endif %}
    </nav><br>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{{ 'label_name'|trans }}</th>
                    <th>{{ 'label_surname'|trans }}</th>
                    <th>{{ 'label_email'|trans }}</th>
                    <th>{{ 'label_phone_num'|trans }}</th>
                    <th>{{ 'label_actions'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for userData in pagination.items %}
                    <tr>
                        <td>{{ userData.name }}</td>
                        <td>{{ userData.surname }}</td>
                        <td>{{ userData.email }}</td>
                        <td>{{ userData.phone }}</td>
                        <td>
                            <a class="btn btn-warning" href="{{ url('userData_edit', {id: userData.id}) }}" title="{{ 'action_edit'|trans }}">
                                {{ 'action_edit'|trans }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% else %}
        {% include 'default/_single_flash_message.html.twig' with {
            type: 'warning',
            message: 'message_empty_list'|trans
        } %}
    {% endif %}
{% endblock %}